<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="appusagelogger.geyer.sensorlab.appusagelogger">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/jaunt_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jaunt_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".collectingData"/>
        <service android:name=".collectingDataOld"/>
        <service android:name=".phonerestarted"/>
        <service android:name=".screenService"/>
        <receiver android:name=".startServiceOnBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <service android:name=".toRestartScreenService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="appusagelogger.geyer.sensorlab.appusagelogger.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />

        </provider>
    </application>

</manifest>